
/* novo-estilo.css */
body {
margin: 0;
font-family: 'Open Sans', sans-serif;
background: #f4f4f4;
color: #333;
}


header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 40px;
background: #111;
}

header .logo img {
height: 50px;
}


nav a {
margin-left: 20px;
text-decoration: none;
color: #ddd;
font-weight: 600;
transition: 0.3s;
}


nav a:hover,
nav a.ativo {
color: #fff;
}


.hero {
text-align: center;
padding: 120px 20px;
background: linear-gradient(to bottom right, #222, #444);
color: white;
}


.hero h1 {
font-size: 3rem;
font-family: 'Montserrat', sans-serif;
}


.hero p {
max-width: 600px;
margin: auto;
font-size: 1.1rem;
}


.botao {
display: inline-block;
margin-top: 30px;
padding: 12px 30px;
background: #ffb300;
color: #000;
font-weight: bold;
text-decoration: none;
border-radius: 6px;
transition: 0.3s;
}


.botao:hover {
background: #ffca33;
}


footer {
text-align: center;
padding: 20px;
margin-top: 60px;
background: #111;
color: #ccc;
}